{% extends 'main/base.html' %}

{% block title %} Обо мне {% endblock %}
{% block content %}
    <div class="container">
        <div class="content">
                <h1 class="title">Немного о том что я <span>умею</span></h1>
            <div class="text-about"><p>Мне всегда было интересно кто отвечает за качество приложений которыми я повседневно пользуюсь, кто разбирает все те костыли что поставили программисты, во время изучения наработал следующие скиллы:</p>
<ui>
<li>Изучил основные виды тестирования</li>
<li>Как правильно пишется тестовая документация</li>
<li>Необходимые основы языка SQL</li>
<li>Узнал как вообще можно вплетать тестирование в жизненный цикл ПО</li>
<li>Немного поработал с баг-трекинговой системой Jira</li>
<li>Поверхостно разобрался какой путь проходит программа от хорошей идеи, до завершенного продукта.</li>
</ui>

                <p>Мне стало интересно почему нельзя написать идеальный код сразу? И я решил взглянуть на программирование изнутри, что порядком затянуло меня на год, за это время я изучил:</p>
<ui>
<li>Основы Python, стандартные библиотеки, проходил курсы и практиковался на codewars(дошел только до 5х кат)</li>
<li>Фреймворк django, сверстал свой хлипкий сайт с чужими ассетами, но зато работающий</li>
<li>Также язык каскадных стилей CSS, и вместе с ним html.</li>
<li>Немного пытался в c#</li>
</ui>
            </div>
        </div>
    </div> <!--/.container-content> -->

{% endblock %}

{% block header-link %}
    <a class="header-nav-link " href="/">Главная</a>
    <a class="header-nav-link active" href="about">Обо мне</a>
    <a class="header-nav-link" href="contact">Контакты</a>
{% endblock %}